<!-- #######  Welcome index page for API #########-->
<h1 style="color: #5e9ca0;">Welome to recapp API</h1>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;All endpoints are prefixed with /api</p>
<h2 style="color: #2e6c80;">Available endpoints:</h2>
<table class="editorDemoTable" style="height: 452px;" width="685">
<thead>
<tr>
<td style="width: 260px;">Name</td>
<td style="width: 345px;">Example</td>
</tr>
</thead>
<tbody>
<tr>
<td style="width: 260px;">/user</td>
<td style="width: 345px;">
<p><br /><strong>POST /user&nbsp;</strong></p>
<p>{</p>
<p>&nbsp; "user":{<br />&nbsp; &nbsp; "name": "Jonas",<br />&nbsp; &nbsp; "surname": "Galonas",<br />&nbsp; &nbsp; "ssn": "123123123-3434",<br />&nbsp; &nbsp; "username": "galonriddaren",<br />&nbsp; &nbsp; "password": "galon-lyfe4evuh",<br />&nbsp; &nbsp; "email": "naben@hotmail.com"<br />&nbsp; &nbsp; }</p>
<p>}</p>
</td>
</tr>
<tr>
<td style="width: 260px;">&nbsp;</td>
<td style="width: 345px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 260px;">&nbsp;</td>
<td style="width: 345px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 260px;">&nbsp;</td>
<td style="width: 345px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 260px;">&nbsp;</td>
<td style="width: 345px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 260px;">&nbsp;</td>
<td style="width: 345px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 260px;">&nbsp;</td>
<td style="width: 345px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 260px;">&nbsp;</td>
<td style="width: 345px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 260px;">&nbsp;</td>
<td style="width: 345px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 260px;">&nbsp;</td>
<td style="width: 345px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 260px;">&nbsp;</td>
<td style="width: 345px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 260px;">&nbsp;</td>
<td style="width: 345px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 260px;">&nbsp;</td>
<td style="width: 345px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 260px;">&nbsp;</td>
<td style="width: 345px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 260px;">&nbsp;</td>
<td style="width: 345px;">&nbsp;</td>
</tr>
</tbody>
</table>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>